%section.ten-oh-announcement
  .ten-oh-label
    %span 13.2
  .ten-oh-description
    .ten-oh-description-body.text-center
      %h2.main-heading New features every month
      %p.u-margin-bottom-xs
        GitLab 13.2 released with Planning Iterations and Load Performance Testing

      .btn-group
        = link_to "/releases/2020/07/22/gitlab-13-2-released/index.html", class: "btn cta-btn btn-white margin-top20 hero-cta hero-release-link" do
          See what’s new
