.col-xs-1.col-md-1
.col-xs-10.col-md-10
  %h2 Capabilities
  %ul
    %li
      %strong Static Application Security Testing (SAST):
      Prevents
      %a{ href: "https://docs.gitlab.com/ee/user/application_security/sast/" }
        vulnerabilities
      early in the development process, allowing them to be fixed before deployment
    %li
      %strong Dynamic Application Security Testing (DAST):
      Once code is deployed,
      %a{ href: "https://docs.gitlab.com/ee/user/application_security/dast/" }
        prevents
      exposure to your application from a new set of possible attacks as you are running your web applications
    %li
      %strong Dependency Scanning:
      Automatically finds security vulnerabilities in your
      %a{ href: "https://docs.gitlab.com/ee/user/application_security/dependency_scanning/" }
        dependencies
      while you are developing and testing your applications, such as when you are using an external (open source) library with known vulnerabilities
    %li
      %strong Container Scanning:
      Analyze your
      %a{ href: "https://docs.gitlab.com/ee/user/application_security/license_compliance/" }
        container
      images for known vulnerabilities
    %li
      %strong Auto Remediation:
      Auto
      %a{ href: "https://gitlab.com/groups/gitlab-org/-/epics/759" }
        remediation
      aims to automated vulnerability solution flow, and automatically create a fix. The fix is then tested, and if it passes all the tests already defined for the application, it is deployed to production.
    %li
      %strong Secret Detection:
      Prevent
      %a{ href: "https://docs.gitlab.com/ee/user/application_security/secret_detection/" }
        secrets
      from accidently leaking into your Git history. Each commit is scanned for secrets within SAST.
    %li
      %strong Fuzz Testing:
      Future features GitLab will be adding to its Security capabilities, see the visions for
      %a{ href: "https://gitlab.com/groups/gitlab-org/-/epics/818" }
        Fuzzing
%hr.divider
